<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BusinessHead_Dog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 0}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_Dog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 336}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_Dog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 604}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_Idle_Dog.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{84, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 202}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_Idle_NoDog.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{84, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 528}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_NoDog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 698}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_NoDog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 428}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_NoDog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 528}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 100}</string>
			<key>spriteSourceSize</key>
			<string>{64, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 140}, {64, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 100}</string>
			<key>spriteSourceSize</key>
			<string>{64, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 442}, {64, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {64, 96}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{64, 96}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 532}, {64, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {54, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{54, 98}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 438}, {54, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {56, 100}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{56, 100}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 236}, {56, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {66, 96}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{66, 96}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 434}, {66, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {56, 98}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 98}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 236}, {56, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {56, 100}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 100}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 442}, {56, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Arm_Shoot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 20}</string>
			<key>spriteSourceSize</key>
			<string>{90, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 142}, {90, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Arm_Shoot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {82, 20}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{82, 20}</string>
			<key>spriteSourceSize</key>
			<string>{90, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 378}, {82, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Aiming_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 238}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Aiming_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 496}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Aiming_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {78, 104}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 104}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 242}, {78, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Aiming_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 106}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Dog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 340}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Dog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 0}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Dog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {78, 104}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 104}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 0}, {78, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Dog_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 102}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Idle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 98}</string>
			<key>spriteSourceSize</key>
			<string>{78, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 504}, {78, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_NoDog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 402}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_NoDog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 0}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_NoDog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {78, 104}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 104}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 0}, {78, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_NoDog_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {78, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{78, 100}</string>
			<key>spriteSourceSize</key>
			<string>{106, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 326}, {78, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Shoot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 98}</string>
			<key>spriteSourceSize</key>
			<string>{78, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 598}, {78, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Shoot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 98}</string>
			<key>spriteSourceSize</key>
			<string>{78, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 428}, {78, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Idle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 400}, {80, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{106, 84}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 240}, {106, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 2}, {68, 98}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{68, 98}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 102}, {68, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 4}, {62, 96}}</string>
			<key>spriteOffset</key>
			<string>{6, -2}</string>
			<key>spriteSize</key>
			<string>{62, 96}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 640}, {62, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 2}, {58, 98}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{58, 98}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 338}, {58, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {58, 84}}</string>
			<key>spriteOffset</key>
			<string>{6, 8}</string>
			<key>spriteSize</key>
			<string>{58, 84}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 300}, {58, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 2}, {64, 98}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{64, 98}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 0}, {64, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {74, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{74, 96}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 98}, {74, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Run_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {76, 98}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{76, 98}</string>
			<key>spriteSourceSize</key>
			<string>{106, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 302}, {76, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Shoot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 626}, {78, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Shoot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 544}, {78, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{76, 74}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 348}, {76, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 102}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{118, 102}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 198}, {118, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 18}, {58, 62}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{58, 62}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 386}, {58, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 24}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 198}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 34}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 106}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 46}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 164}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 38}, {38, 32}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{38, 32}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 106}, {38, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 34}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 450}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 16}, {90, 74}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{90, 74}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 302}, {90, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {112, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{112, 96}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 142}, {112, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 62}, {54, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 18}</string>
			<key>spriteSize</key>
			<string>{54, 36}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 496}, {54, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 62}, {54, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 18}</string>
			<key>spriteSize</key>
			<string>{54, 36}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{638, 300}, {54, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 60}, {62, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 19}</string>
			<key>spriteSize</key>
			<string>{62, 38}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 766}, {62, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 50}, {68, 48}}</string>
			<key>spriteOffset</key>
			<string>{1, 24}</string>
			<key>spriteSize</key>
			<string>{68, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 608}, {68, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 40}, {74, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 29}</string>
			<key>spriteSize</key>
			<string>{74, 58}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 626}, {74, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {74, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 31}</string>
			<key>spriteSize</key>
			<string>{74, 62}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 702}, {74, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 30}, {74, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 34}</string>
			<key>spriteSize</key>
			<string>{74, 68}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 538}, {74, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 16}, {54, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 68}</string>
			<key>spriteSize</key>
			<string>{54, 28}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 208}, {54, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {54, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 82}</string>
			<key>spriteSize</key>
			<string>{54, 32}</string>
			<key>spriteSourceSize</key>
			<string>{74, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 164}, {54, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Fall.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 14}</string>
			<key>spriteSourceSize</key>
			<string>{54, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 220}, {54, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Grabbed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 140}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 0}, {140, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Rise.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 14}</string>
			<key>spriteSourceSize</key>
			<string>{54, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 220}, {54, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{2, 19}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 202}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 28}}</string>
			<key>spriteOffset</key>
			<string>{-1, 17}</string>
			<key>spriteSize</key>
			<string>{60, 28}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 106}, {60, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 722}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {60, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{60, 48}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 796}, {60, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{60, 40}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 722}, {60, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cop_arm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 14}</string>
			<key>spriteSourceSize</key>
			<string>{74, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 204}, {74, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cop_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 196}</string>
			<key>spriteSourceSize</key>
			<string>{78, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {78, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cop_target.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 38}</string>
			<key>spriteSourceSize</key>
			<string>{38, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 250}, {38, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog54x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{54, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 216}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>spritesheet</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>sprites_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>sprites_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>