<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BusinessHead_Dog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 648}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_Dog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 660}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_Dog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 746}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_NoDog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 562}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_NoDog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 564}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessHead_NoDog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 652}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {64, 96}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{64, 96}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 374}, {64, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {54, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{54, 98}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 758}, {54, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {56, 100}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{56, 100}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 362}, {56, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {66, 96}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{66, 96}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 892}, {66, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {56, 98}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{56, 98}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 464}, {56, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BusinessMan_Walk_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {56, 100}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{56, 100}</string>
			<key>spriteSourceSize</key>
			<string>{70, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 460}, {56, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Arm_Shoot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 20}</string>
			<key>spriteSourceSize</key>
			<string>{90, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 494}, {90, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Arm_Shoot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {82, 20}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{82, 20}</string>
			<key>spriteSourceSize</key>
			<string>{90, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 516}, {82, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Shoot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 98}</string>
			<key>spriteSourceSize</key>
			<string>{78, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 472}, {78, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Head_Shoot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 98}</string>
			<key>spriteSourceSize</key>
			<string>{78, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 552}, {78, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Idle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 552}, {80, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Shoot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 844}, {78, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cop_Shoot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 94}</string>
			<key>spriteSourceSize</key>
			<string>{80, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 750}, {78, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{76, 74}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 940}, {76, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 102}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{118, 102}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 356}, {118, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 18}, {58, 62}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{58, 62}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 940}, {58, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 24}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 322}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 34}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 0}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 46}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 194}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 38}, {38, 32}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{38, 32}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 416}, {38, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 34}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 696}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 16}, {90, 74}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{90, 74}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 476}, {90, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Appear_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {112, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{112, 96}</string>
			<key>spriteSourceSize</key>
			<string>{120, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 362}, {112, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{84, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 772}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{84, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 786}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{84, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 828}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{84, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 758}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {82, 12}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{82, 12}</string>
			<key>spriteSourceSize</key>
			<string>{84, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 538}, {82, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {84, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{84, 6}</string>
			<key>spriteSourceSize</key>
			<string>{84, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 572}, {84, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Die_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {84, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{84, 6}</string>
			<key>spriteSourceSize</key>
			<string>{84, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 580}, {84, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{2, 19}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 814}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 28}}</string>
			<key>spriteOffset</key>
			<string>{-1, 17}</string>
			<key>spriteSize</key>
			<string>{60, 28}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 908}, {60, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 846}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {60, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{60, 48}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 940}, {60, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dog_Shot_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{60, 40}</string>
			<key>spriteSourceSize</key>
			<string>{62, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 898}, {60, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {62, 30}}</string>
			<key>spriteOffset</key>
			<string>{-57, -0}</string>
			<key>spriteSize</key>
			<string>{62, 30}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 908}, {62, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {130, 32}}</string>
			<key>spriteOffset</key>
			<string>{-23, -1}</string>
			<key>spriteSize</key>
			<string>{130, 32}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 322}, {130, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {154, 38}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{154, 38}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 322}, {154, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 20}, {170, 32}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{170, 32}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 322}, {170, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 20}, {154, 32}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{154, 32}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {154, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 20}, {98, 32}}</string>
			<key>spriteOffset</key>
			<string>{-33, -1}</string>
			<key>spriteSize</key>
			<string>{98, 32}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 556}, {98, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 26}, {62, 20}}</string>
			<key>spriteOffset</key>
			<string>{-37, -1}</string>
			<key>spriteSize</key>
			<string>{62, 20}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 1004}, {62, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 28}, {30, 16}}</string>
			<key>spriteOffset</key>
			<string>{-33, -1}</string>
			<key>spriteSize</key>
			<string>{30, 16}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 34}, {30, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 30}, {24, 12}}</string>
			<key>spriteOffset</key>
			<string>{-32, -1}</string>
			<key>spriteSize</key>
			<string>{24, 12}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 180}, {24, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 32}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{-30, -1}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 208}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {68, 50}}</string>
			<key>spriteOffset</key>
			<string>{-54, -0}</string>
			<key>spriteSize</key>
			<string>{68, 50}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 940}, {68, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{-53, 1}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 846}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {82, 70}}</string>
			<key>spriteOffset</key>
			<string>{-47, -0}</string>
			<key>spriteSize</key>
			<string>{82, 70}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 588}, {82, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {104, 60}}</string>
			<key>spriteOffset</key>
			<string>{-36, 1}</string>
			<key>spriteSize</key>
			<string>{104, 60}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 460}, {104, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {104, 50}}</string>
			<key>spriteOffset</key>
			<string>{-36, -0}</string>
			<key>spriteSize</key>
			<string>{104, 50}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 390}, {104, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {104, 32}}</string>
			<key>spriteOffset</key>
			<string>{-36, -1}</string>
			<key>spriteSize</key>
			<string>{104, 32}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 442}, {104, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {104, 32}}</string>
			<key>spriteOffset</key>
			<string>{-36, -1}</string>
			<key>spriteSize</key>
			<string>{104, 32}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 522}, {104, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plus_100_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {104, 32}}</string>
			<key>spriteOffset</key>
			<string>{-36, -1}</string>
			<key>spriteSize</key>
			<string>{104, 32}</string>
			<key>spriteSourceSize</key>
			<string>{176, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 460}, {104, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WienerCount_Wiener.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 46}</string>
			<key>spriteSourceSize</key>
			<string>{24, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 100}, {24, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WienerCount_X.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 30}</string>
			<key>spriteSourceSize</key>
			<string>{24, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 148}, {24, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_philly.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cop_arm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 14}</string>
			<key>spriteSourceSize</key>
			<string>{74, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 590}, {74, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dog54x12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 12}</string>
			<key>spriteSourceSize</key>
			<string>{54, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 800}, {54, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 10}, {12, 12}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{12, 12}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 194}, {12, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 4}, {26, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{26, 22}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 76}, {26, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 12}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 210}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 6}, {26, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{26, 22}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 52}, {26, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {48, 24}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{48, 24}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 390}, {48, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 32}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 640}, {70, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 32}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 990}, {70, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 32}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 858}, {70, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 32}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 606}, {70, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 32}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 662}, {70, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plusTen9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 32}</string>
			<key>spriteSourceSize</key>
			<string>{70, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 992}, {70, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>spritesheet</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>tutorial_sprites_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>tutorial_sprites_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>